.movies {
    background-color: #202020;
    padding: 70px 70px 0 70px;
}

@media screen and (max-width: 1280px) {
    .movies {
        padding: 70px 30px 0 30px;
    }
}

@media screen and (max-width: 768px) {
    .movies {
        padding: 40px 10px 0 10px;
    }
}

.movies__item {
    display: grid;
    grid-gap: 32px 28px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

@media screen and (max-width: 1280px) {
    .movies__item {
        grid-gap: 35px 24px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .movies__item {
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-row-gap: 16px;
    }
}

.movies__more{
    width: 320px;
    height: 36px;
    background: #2F2F2F;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 50px;
}

.movies__more:hover {
    opacity: .6;
}

.movies__more-item {
    min-height: 166px;
    display: flex;
    justify-content: center;
}