.profile {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 30px 40px;
  box-sizing: border-box;
  min-height: calc(100vh - 74px);
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  color: #fff;
  margin: 0;
}

/* @media screen and (max-width: 1280px) {
    .profile__title {
        margin: 236px auto 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .profile__title {
        margin: 70px auto 0 auto;
    }
} */

.profile__logout {
  color: #ee3465;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
}

.profile__logout:hover {
  opacity: 0.6;
}

.profile__form {
  width: 100%;
  max-width: 410px;
  min-height: 483px;
  display: flex;
  flex-direction: column;
  gap: 107px;
  position: relative;
  align-items: center;
}

/* @media screen and (max-width: 1280px) {
    .profile__form {
        margin: 96px auto 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .profile__form {
        margin: 80px auto 0 auto;
        min-width: 260px;
    }
} */

.profile__form-submit-btn {
  margin-top: auto;
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  transition: all 0.3s ease;
  cursor: pointer;
}

.profile__form-submit-btn:hover {
  opacity: 0.6;
}

.profile__form-submit-btn_disabled {
  color: #8b8b8b;
  cursor: default;
}

.profile__form-submit-btn_disabled:hover {
  opacity: 0.6;
}

/* @media screen and (max-width: 1280px) {
    .profile__form-submit-btn {
        margin: 210px auto 16px auto;
    }
}

@media screen and (max-width: 768px) {
    .profile__form-submit-btn {
        margin: 379px auto 16px auto;
    }
} */

.profile__form-submit-item {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.profile__form-line {
  border-bottom: 1px solid #424242;
  width: 100%;
  /* margin: 16px 0 17px 0; */
}

.profile__form-input-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.profile__form-input {
  padding: 16px 0;
  box-sizing: border-box;
  border-style: none;

  font-weight: 400;
  font-size: 11px;
  line-height: 1.18;
  background-color: transparent;
  color: #fff;
  text-align: right;
}

.profile__form-input-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.18;
  position: absolute;
  top: 16px;
  color: #fff;
}

.profile__form-input-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3px;
  flex: 1;
}

.profile__form-input-error {
  color: #ee3465;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
}
