.searchform {
  min-height: 222px;
  background-color: #202020;
  padding: 0 70px;
}

@media screen and (max-width: 1280px) {
  .searchform {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .searchform {
    padding: 0 10px 10px 10px;
  }
}

.searchform__line {
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
  margin-bottom: 10px;
}

.searchform__items {
  align-items: flex-start;
  flex-direction: row;
  align-items: center;
  padding: 80px 0 44px 0;
}

@media screen and (max-width: 1280px) {
  .searchform__items {
    flex-direction: column;
    padding: 60px 0 57px 0;
  }
}

@media screen and (max-width: 768px) {
  .searchform__items {
    padding: 60px 0 44px 0;
  }
}

.searchform__input {
  margin-left: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20;
  border: unset;
  outline: 0;
  background-color: unset;
  color: #fff;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .searchform__input {
    font-size: 11px;
    line-height: 1.63;
  }
}

.searchform__input-submit {
  background: #4285f4;
  border-radius: 5px;
  width: 100px;
  height: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.63;
  color: #fff;
  border: none;
  margin-right: 7px;
  cursor: pointer;
}

.searchform__input-submit:hover {
  opacity: 0.6;
}

.searchform__input-item {
  width: 100%;
  border: 1.5px solid #aaaaaa;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

.searchform_input-item:focus-within {
  outline: inset;
}

.searchform__checkbox-title {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  padding-left: 14px;
}

@media screen and (max-width: 768px) {
  .searchform__checkbox-title {
    font-size: 11px;
    line-height: 1.63;
  }
}

.searchform__checkbox-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20px;
}

.searchform__checkbox-slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #3ddc84;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .searchform__checkbox-slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.searchform__checkbox-item {
  min-width: 36px;
  height: 20px;
  position: relative;
  display: inline-block;
  background-color: #202020;
  box-shadow: 0px 4px 8px rgba(50, 50, 71, 0.06),
    0px 4px 4px rgba(50, 50, 71, 0.08);
  border-radius: 16px;
}

.searchform__checkbox-item input {
  opacity: 0;
  width: 0;
  height: 0;
}

.searchform__checkbox-group {
  padding-top: 28px;
  display: flex;
  height: 20px;
  align-items: center;
}

@media screen and (max-width: 1280px) {
  .searchform__checkbox-group {
    margin-top: 38px;
  }
}

@media screen and (max-width: 768px) {
  .searchform__checkbox-group {
    margin-top: 45px;
  }
}
